.page-content{
  margin:0;
}

.welcomep{
  height:100vh;
}

.formula{
  float:right;
  color:white;
}

.formuladark{
  position:absolute;
  right:15px;
  color:grey;
  padding-right: 20px;
}

.w-meta-info .sign{
  display:inline;
  font-size:20px;
}
